
h1{
    text-align: center;
}
.div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 144px;
    width: 144px;
}
.div{
    margin: 0px auto;
    height: auto;
    width: 400px;
}